
<% content_for :title, 'admin | Action Cable Chat' %>
<div class="header" data-spy="affix" data-offset-top="25">
  <div class="team-menu">Chat Room</div>

  <div class="channel-menu">
    <span class="channel-menu_name"><span class="channel-menu_prefix"></span></span>
  </div>
  <div class="main">
    <div class="listings">
      <div class="listings_channels">
        <h2 class="listings_header" style="font-size: 13px;">Channels</h2>
        <ul class="channel_list">
          <li class="channel <% if params[:id] == '1' %>active<% end %>">
            <a class="channel_name" href="/chats/1"><span class="unread "><%= @general_chat.messages.where('read=?',false).count %></span><span><span class="prefix">#</span>General</span></a>
          </li>
       <% @mikveh_chats.each do |mikveh_chat|  %>
          <li class="channel <% if params[:id] == mikveh_chat.id.to_s %>active<% end %>">
            <a class="channel_name"><span class="unread "><%= mikveh_chat.messages.where('read=?',false).count %></span><span><span class="prefix"></span><%= link_to Mikveh.find_by(user_id: mikveh_chat.user_id).name, "/chats/#{mikveh_chat.id}" %></span></a>
          </li>
       <% end %>   
        </ul>
      </div>
      <div class="listings_direct-messages">
        <h2 class="listings_header" style="font-size: 13px;">Direct Messages</h2>
        <ul class="channel_list">

        <% @chat_rooms.each do |chat_room| %>
          <li class="channel <% if params[:id] == chat_room.id.to_s %>active<% end %>">
              <% if chat_room.user == current_user && chat_room.room_type != "mikveh_chat" && chat_room.room_type != "general_chat" %>
                <%= link_to User.find_by(id: chat_room.recipient_id).name, "/chats/#{chat_room.id}" %>
              <% else %>
                <%= link_to chat_room.user.name, "/chats/#{chat_room.id}" %>
              <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="message-history" id="messages_list" data-chat-room-id="<%= @chat_room.id %>" data-user-id="<%= current_user.id %>">
  <%= render @messages %>
</div>


  <div class="user-menu">
    <span class="user-menu_profile-pic"></span><span class="user-menu_username"><%= current_user.email %></span>
    <span class="connection_status">online</span>
  </div>


  <form>
    <div class="input-box">
      <input type="text" class="input-box_text" id="message_input" data-behavior="room_speaker"/>
    </div>
  </form>
