<div class="row">
  <div class="col-md-4"></div>
  <%= form_tag "/bookings", method: :post do %>
    <div>
      <% if current_user && current_user.balanit && current_user.mikveh.id == @mikveh_id.to_i%>
        <%= hidden_field_tag :mikveh_id, current_user.mikveh.id %>
      <% else %>
        <%= hidden_field_tag :mikveh_id, @mikveh_id %>
      <% end %>
    </div>

    <div>
      <% if current_user && current_user.balanit && current_user.mikveh.id == @mikveh_id.to_i %>
          <h1>Clients List <%=collection_select :user , :user_id , User.all , :id , :name,{},{class: 'form-control'} %> </h1> 
      <% else %>
          <%= hidden_field_tag :user_id, current_user.id %>
      <% end %>
    </div>
      <div class="col-md-4 bookings-show" style="text-align: center;">
        <h3 class="green-booking ">Appointment Time: <%= human_time(@clean_time) %></h3>
        <div>
          <%= hidden_field_tag :start_time, @booking_time, class: 'form-control' %>
     </div>
      <div class="center"><%= submit_tag "Confirm" %></div>
    <% end %>  
  </div>
</div>
