<%= form_tag "/bookings", method: :post do %>

<div>
  <%= label_tag :mikveh_id %>
  <%= text_field_tag :mikveh_id %>
</div>

<div>
  <%= label_tag :user_id %>
  <%= text_field_tag :user_id  %>
</div>

<div>
  <%= label_tag :time %>
  <%= text_field_tag :time %>
</div>
      