<%= form_tag "/bookings", method: :post do %>

<div>
  <h4>mikvhe <%=collection_select :mikveh , :mikveh_id , Mikveh.all , :id , :name %></h4> 
</div>

<div>
  <%= hidden_field_tag :user_id, current_user.id %>
</div>

<div>
  <%= label_tag :date_and_time %>
  <%= text_field_tag :date_and_time %>
</div>

<%= submit_tag "Submit" %>

<% end %>
      