<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4 bookings-show">
      <h3>Appointment Information</h3>
        <% if !current_user.balanit %>
          <ul >
            <li>Place- <%= @booking.mikveh.name %></li>
            <li>Time & Date- <%= @booking.start_time.strftime("%m-%d-%y %H:%M") %></li>
          </ul>
        <% else %>
          <ul>
          <% if current_user.mikveh.id == @booking.mikveh.id %>
          <li>Name- <%= @booking.user.name %></li>
          <li>Email- <%= @booking.user.email %></li>
          <li>Phone- <%= @booking.user.phone_number %></li>
          <li>Time & Date- <%= @booking.start_time.strftime("%m/%d %H:%M%p") %></li>
          <li>Cancel-<%= link_to 'Cancel', "/bookings/#{@booking.id}", method: :delete %></li>
          <li>Chat- <%= link_to 'Begin Chat',"/chats/#{@chat.id}" if @chat%></li>
        </ul>
          <% end %>
      <% end %>
    </div>
</div>
