<h1>Your upcomeing apoitment</h1>
<% if !current_user.balanit %>
  <table class= "table table-hover">
    <tr>
      <th>Place</th>
      <th>Time & Date</th>
    </tr>
    <rt>
      <td><%= @booking.mikveh.name %></td>
      <td><%= @booking.start_time.strftime("%m-%d-%y %H:%M") %></td>
    </rt>
  </table>
<% else %>

  <table class= "table table-hover">
    <tr>
      <th>Name</th>
      <th>User email</th>
      <th>phone #</th>
      <th>Time & Date</th>
      <th>Cancel</th>
    </tr>
    <tr>

    <% if current_user.mikveh.id == @booking.mikveh.id %>
      <td> <%= @booking.user.name %></td>
      <td> <%= @booking.user.email %></td>
      <th> <%= @booking.user.phone_number %></th>
      <td><%= @booking.start_time.strftime("%m-%d-%y %H:%M") %></td>
        <td> <%= link_to 'Cancel', "/bookings/#{@booking.id}", method: :delete %></td>
    <% end %>
    </tr>
  </table>
<% end %>
