<h1>Dashboard</h1>



  <ul class="info">
    <li>Balanit- <%= current_user.name.capitalize %> </li>
    <li>Mikveh- <%= @mikveh.name.capitalize  %></li>
    <li>Location- <%= @mikveh.location.capitalize %></li>
    <li>Rooms- <%= @mikveh.rooms %></li>
  </ul>

<table class="table table-hover">
  <tr>
    <td>client name</td>
    <td>Date & Time </td>
    <td>Cancel Apoitment</td>
    <td>Chanch   Apoitment</td>
  </tr>

  <tr>
   <% current_user.mikveh.bookings.each do |booking| %>
    <th><%= booking.user.name.capitalize  %></th>
    <th><%= booking.date_and_time %></th>
    <th> <%= link_to 'Cancel', "/bookings/#{booking.id}", method: :delete %></th>
    <th> <%= link_to 'Update', "/bookings/#{booking.id}/edit" %></th>
  </tr>
  <% end %>
</table>
