<h1>Dashboard</h1>

  <ul class="info" style="list-style: none;">
    <li>Balanit- <%= current_user.name.capitalize %> </li>
    <li>Mikveh- <%= @mikveh.name.capitalize  %></li>
    <li>Location- <%= @mikveh.location.capitalize %></li>
    <li>Phone number- <%= @mikveh.phone_number %></li>
  </ul>
  <%= week_calendar  events: @bookings  do |date, bookings| %> 
 
   <div class="calender_date"><%= date.to_s[-2..-1] %></div>

  <% bookings.each do |booking| %>
    <div>
      <% booking.user.name %>
      <% booking.start_time.strftime("%I:%M:%S %p") %>
      <% link_to 'Cancel', "/bookings/#{booking.id}", method: :delete %>
    </div>
  <% end %>

  <% slot_start_time = DateTime.new(date.year, date.month, date.day, @start_time.hour, @start_time.min, @start_time.sec, @start_time.zone) %>

    <% slot_start_time = DateTime.new(date.year, date.month, date.day, @start_time.hour, @start_time.min, @start_time.sec, @start_time.zone) %>

    <% 10.times do %>
      <% formatted_date_time = slot_start_time.strftime("%Y-%m-%d %H:%M") %>
      <% pretty_date_time = slot_start_time.strftime("%I:%M %p") %>

      <% booking = current_user.mikveh.bookings.find_by(start_time: formatted_date_time,) %>

        <% if booking %>
          <div class="calender_div">
          <%= link_to "#{booking.start_time.strftime("%I:%M %p")}- #{booking.user.name}" , "/bookings/#{booking.id}", class: "calender_booking" %>
        <% else %>
          <div>
            <%= link_to pretty_date_time, "/bookings/new?time=#{formatted_date_time}&mikveh_id=#{@mikveh_id}" ,class: "green-booking"%>
        <% end %>
      </div>
          <% slot_start_time += 30.minutes %>
    <% end %>

<% end %>

<table class="table table-hover">
  <tr>
    <th>client name</th>
    <th>Date & Time </th>
<!--     <th>Start Chat</th> -->
    <th>Cancel Apoitment</th>
  </tr>
<% @bookings = current_user.mikveh.bookings.sort_by {|booking| booking.start_time} %>

  <tr>
   <% @bookings.each do |booking| %>
    <td><%=link_to booking.user.name.capitalize, "bookings/#{booking.id}"  %></td>
    <td><%= booking.start_time.strftime("%m/%d %H:%M %p") %></td>
    <td> <%= link_to 'Cancel', "/bookings/#{booking.id}", method: :delete %></td>
  </tr>
  <% end %>
</table>
