<h1>Dashboard</h1>
  <div>
<ul class="ul_mikveh" style="list-style: none;">
    <li><span class="mikveh_span">NAME</span></li>  
    <li> <%= current_user.name.capitalize %> </li>
    <li> <span class="mikveh_span">EMAIL</span></li>
    <li><%= current_user.email %> </li>
    <li> <span class="mikveh_span">PHONE NUMBER</span></li>
    <li><%= current_user.phone_number %></li> 
  </ul>
  </div> 
    <%= week_calendar number_of_weeks: 3,  events: @bookings do |date, bookings| %>
      <%= date.to_s[-2..-1] %>
    <% bookings.each do |booking| %>
      <div>
         <div class="blue-booking"><%= booking.mikveh.name %></div> 
        <div class="blue-booking"><%= booking.start_time.strftime("%I:%M %p") %></div> 
          <div class="red-booking"><%= link_to 'Cancel', "/bookings/#{booking.id}", method: :delete %></div> 
        </div>
      <% end %>
    <% end %> 