<h1>Dashboard</h1>



  <ul class="info">
    <li>balanit- <%= current_user.name %> </li>
    <li>Name- <%= @mikveh.name  %></li>
    <li>location- <%= @mikveh.location %></li>
    <li>rooms- <%= @mikveh.rooms %></li>
  </ul>


<p class="blue">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p class="blue">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<table class="table table-hover">
  <tr>
    <td>client name</td>
    <td>Date & Time </td>
    <td>Cancel Apoitment</td>
    <td>Chanch   Apoitment</td>
  </tr>

  <tr>
   <% current_user.mikveh.bookings.each do |booking| %>
    <th><%= booking.user.name  %></th>
    <th><%= booking.date_and_time %></th>
    <th> <%= link_to 'Cancel', "/bookings/#{booking.id}", method: :delete %></th>
    <th> <%= link_to 'Update', "/bookings/#{booking.id}/edit" %></th>
  </tr>
  <% end %>
</table>