<h1>Dashboard</h1>

<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>

  <% bookings.each do |booking| %>
    <div>
      <%= booking.name %>
    </div>
  <% end %>
<% end %>


<div>
 <ul class="info">
   <li>Name-  <%= current_user.name %></li>
   <li>Email- <%= current_user.email %> </li>
   <li>Phone- <%= current_user.phone_number %></li> 
</ul>
</div>  

<div>
  <table class= "table table-hover">
  <tr>
    <th>Place</th>
    <th>date and time</th>
    <th>Cancel</th>
    <th>Update date and time</th>
  </tr>

  <rt>
    <td><%= current_user.bookings.last.mikveh.name if current_user.bookings.any? %></td>
    <td><%= current_user.bookings.last.start_time if current_user.bookings.any?%> </td>
    <% if current_user.bookings.any?  %>
    <td> <%= link_to 'Cancel', "/bookings/#{current_user.bookings.last.id}", method: :delete %></td>
    <td> <%= link_to 'Update', "/bookings/#{current_user.bookings.last.id}/edit"%> </td>
    <% end %>
  </rt>
</table>
</div>