<h3><%= link_to 'Post a question', '/posts/new' %></h3>

<table class="table table-hover">
  <tr>
    <th>Post Subject</th>
    <th>Post Content</th>
    <th>Post comment</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.subject %></td>
      <td><%= post.text %></td>
      <% if post.comments.any? %>
        <td><%= post.comments.first.text %></td>
      <% else %>
        <td><%= link_to 'Reply' , "/comments/new?post_id=#{post.id}" %></td>
      <% end %>
    </tr> 
  <% end %>
</table>