<%= form_tag '/posts', method: :post do %>

<div>
  <%= label_tag :text %>
  <%= text_area_tag :text, '', class: 'form-control area_text' %>
</div>

<div>
  
  <%= hidden_field_tag :user_id, current_user.id, class: 'form-control' %>
</div>

</div>
  
<center>
  
<%= submit_tag "Submit!" %>
</center>

<% end %>
