<%= form_tag '/mikvehs', method: :post,multipart: true  do %>

<div>
  <%= label_tag :name %>
  <%= text_field_tag :name, "",class: 'form-control' %>
</div>


<div>
  <%= label_tag :location %>
  <%= text_field_tag :location, "",class: 'form-control' %>
</div>

<div>
  <%= label_tag :supervision %>
  <%= text_field_tag :supervision, "",class: 'form-control' %>
</div>

<div>
  <%= label_tag :shul %>
  <%= text_field_tag :shul, "",class: 'form-control' %>
</div>


<div>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number , "",class: 'form-control'%>
</div>


<div>
  <%= hidden_field_tag :user_id, current_user.id %>
</div>

<div class="field">
  <%= label_tag :image %><br>
  <%= file_field_tag :image,class: 'form-control' %>
</div>



 <%= submit_tag "Submit" %>

<% end %>