<div ng-app="app" class="row"  ng-controller="mikvehCtrl" ng-init="setup()"> 
  <div class="col-md-3">
    <h3><%= @mikveh.name  %></h3>
      <ul class="ul_mikveh">
       <li><span class="mikveh_span">location-</span> <%= @mikveh.location  %> </li> 
       <li> <span class="mikveh_span">Supervision-</span>  <%= @mikveh.supervision %> </li>
       <li><span class="mikveh_span">Shul-</span>  <%= @mikveh.shul %>  </li>
       <li> <span class="mikveh_span">Phone Number-</span>  <%= @mikveh.phone_number %> </li>
       <li > <%= link_to 'Check Avilibilaty', "/client_calender?id=#{@mikveh.id}", class: "red-booking" %> </li> 
     </ul>
  </div>
  <div class="col-md-4">
    
    <%= image_tag @mikveh.image_url.to_s, class: 'pic_size' %>
  </div>
    <div id="map_show" class="map_css col-md-5" style="width: 450px; height: 450px;"></div>
</div>

<p>
</p>

<script type="text/javascript">
  
  var map = new google.maps.Map(document.getElementById('map_show'), {
    zoom: 10,
    center: new google.maps.LatLng(<%= @mikveh.latitude %>, <%= @mikveh.longitude %>),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= @mikveh.latitude %>, <%= @mikveh.longitude %>),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent('<%= @mikveh.name %>');
        infowindow.open(map, marker);
      }
    })(marker, i));

</script>