<!DOCTYPE html>
<html>
<head>
  <title>MikvehApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <header id="header" class="page-header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/5.jpg">
        
        <!-- #navigation -->
        <nav id="navigation" class="navbar">
            
            <!-- .container -->
            <div class="container">
                
                <div class="navbar-brand">
                  <%  if current_user %>
                  <li> <%= link_to "Hello #{current_user.name}" %></li>
                  <% end %>
                </div>
                
                <ul class="nav navbar-nav">
                  <li role="presentation"> <%= link_to 'Home', "/" %></li>
                  <li role="presentation"> <%= link_to 'Test', "/test" %></li>
                  <%  if current_user %>
                  <li role="presentation"> <%= link_to 'logout', "/logout" %></li>
                  <li role="presentation"> <%= link_to 'Book Apoitment', "/bookings/new" %></li>
                  <% else %>
                  <li role="presentation"> <%= link_to 'User Signup', "/new_client" %></li>
                  <li role="presentation"> <%= link_to 'Balanit Signup', "/new_balanit" %></li>
                  <li role="presentation"> <%= link_to 'Login', "/login" %></li>
                  <% end %>
                  <%  if current_user && current_user.balanit %>
                  <li role="presentation"> <%= link_to 'Dashboard', "/dashboard_balanit" %></li>
                  <li><%= link_to 'Calendar', '/calendar' %></li>
                  <% elsif current_user %>
                  <li role="presentation"> <%= link_to 'Dashboard', "/dashboard_client" %></li>
                  <% end %>
                </ul>
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->
        
<!--         <div class="page-header-overlay">
            <div class="container">
              <div class="page-header-text">
                  <h1>Welcome to mikveh App</h1>
                    <h3>Bellow is the list of avalible mikvehs</h3>
                </div>
            </div>
        </div> -->
        
    </header>


 <div class="container black" >
   <% flash.each do |name, message| %>
   <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= message %>
  </div>
  <%=  %>
  <% end %>
  <div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home"></div>
      <div role="tabpanel" class="tab-pane" id="profile">...</div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>

  </div>

  <%= yield %>
</div>
   <!-- #footer -->
    <footer id="footer">`
        
        <!-- .container -->
        <div class="container ">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4 widget"> <!-- 1 -->
                    <div class="footer-socials">
                        <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="google plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" title="dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                
                <div class="col-sm-4 widget"> <!-- 2 -->
                  <h4 class="widget-title">Need Helps?</h4>
                    <div class="row">
                      <div class="col-sm-6">
                          <ul>
                              <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                          <ul>
                                <li><a href="#">Dribbble</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4 widget"> <!-- 3 -->
                    <h4 class="widget-title">Contact Us</h4>
                  p>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
        <div class="footer-copyright">
          <div class="container">
                <p>&copy; 2016 Copyrights by <a href="http://affapress.com" target="_blank">Affapress</a> - All rights reserved.</p>
            </div>
        </div>
        
    </footer>
    <!-- #footer end -->

  
</body>
</html>
