<!DOCTYPE html>
<html>
<head>
  <title>MikvehApp</title>
  <%= csrf_meta_tags %>


  <% if (params[:controller] == "chat_rooms") %>
    <%= stylesheet_link_tag 'slack' %>
  <% else %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>

  <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfsleNm3WQA0CVYiXRQqcncx0gP3VoR_s"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% if !(params[:controller] == "chat_rooms") %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_messages' %>
  <% end %>


  <div class="container black" >
  <%= yield %>
  </div>

  <% if !(params[:controller] == "chat_rooms") %>
  <%= render 'layouts/footer' %>
  <% end %>
    

  
</body>
</html>
